#dataset
leboncoin_ads_batch_1_100.json
leboncoin_ads.json
#environnement
leboncoin_env/
#notebook
leboncoin_descriptions.ipynb
leboncoin_v0.ipynb
#autres
attributs_a_garder.txt
catboost_info/
        